// GLOBALS

// Display
.block {
	display: block;
}
.inline {
	display: inline;
}
.inline-block {
	display: inline-block;
}
.flex {
	display: flex;
}
.inline-flex {
	display: inline-flex;
}
.hide {
	display: none !important;
}
.visible {
	visibility: visible;
}
.invisible {
	visibility: hidden;
}
.text-hide {
	background: transparent;
	border: 0;
	color: transparent;
	font-size: 0;
	line-height: 0;
	text-shadow: none;
}
.text-assistive {
	border: 0;
	clip: rect(0,0,0,0);
	height: .1rem;
	margin: -.1rem;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: .1rem;
}

// Text
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.text-justify {
	text-align: justify;
}

.text-lowercase {
	text-transform: lowercase;
}
.text-uppercase {
	text-transform: uppercase;
}
.text-capitalize {
	text-transform: capitalize;
}

.text-normal {
	font-weight: normal;
}
.text-bold {
	font-weight: bold;
}
.text-italic {
	font-style: italic;
}
.text-large {
	font-size: 1.2em;
}

.text-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.text-clip {
	overflow: hidden;
	text-overflow: clip;
	white-space: nowrap;
}
.text-break {
	hyphens: auto;
	word-break: break-word;
	word-wrap: break-word;
}
.hand {
	cursor: pointer;
}


