// Button
@import './../../styles/mixins/padding';

.fluid_btn {
	appearance: none;
	cursor: pointer;
	display: inline-block;
	outline: none;
	text-align: center;
	text-decoration: none;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;
	font-size: 14px;
	line-height: 14px;
	@include padding(5px, 10px, 5px, 10px);

	&:focus {
		text-decoration: none;
	}

	&:hover {
		text-decoration: none;
	}
}