// Sizes
$layout-padding: 10px;

// Responsive breakpoints
$bp-xs: 480px;
$bp-sm: 600px;
$bp-md: 840px;
$bp-lg: 960px;
$bp-xl: 1280px;
$bp-2x: 1440px;


// Z-index
$zindex-0: 1;
$zindex-1: 100;
$zindex-2: 200;
$zindex-3: 300;
$zindex-4: 400;