//
// Padding Mixin
//
// Usage --->
// @include padding(top, right, bottom, left);
//

@mixin padding($top, $right, $bottom, $left) {
	padding-top: $top;
	padding-right: $right;
	padding-bottom: $bottom;
	padding-left: $left;
}