//
// Margin Mixin
//
// Usage --->
// @include margin(top, right, bottom, left);
//

@mixin margin($top, $right, $bottom, $left) {
	margin-top: $top;
	margin-right: $right;
	margin-bottom: $bottom;
	margin-left: $left;
}