@import '../styles/variables';
@import '../styles/mixins/common';

// Responsive Flex Layout
.fluid_container {
	width: 100%;
	@include margin(0, auto, 0, auto);
	@include padding(0px, $layout-padding, 0, $layout-padding);
	@include clearfix();
}

.fluid_columns {
	display: flex;
	flex-wrap: wrap;
	@include margin(0, $layout-padding, 0, $layout-padding);

	&__no_gutter {
		@include margin(0, 0, 0, 0);

		.column {
			@include padding(0, 0, 0, 0);
		}
	}

	&__oneline {
		flex-wrap: nowrap;
		overflow-x: auto;
	}
}

.fluid_column {
	flex: 1;
	max-width: 100%;
	padding: $layout-padding;

	&__col-12,
	&__col-11,
	&__col-10,
	&__col-9,
	&__col-8,
	&__col-7,
	&__col-6,
	&__col-5,
	&__col-4,
	&__col-3,
	&__col-2,
	&__col-1 {
		flex: none;
	}

	&__col-12 {
		width: 100%;
	}
	&__col-11 {
		width: 91.66666667%;
	}
	&__col-10 {
		width: 83.33333333%;
	}
	&__col-9 {
		width: 75%;
	}
	&__col-8 {
		width: 66.66666667%;
	}
	&__col-7 {
		width: 58.33333333%;
	}
	&__col-6 {
		width: 50%;
	}
	&__col-5 {
		width: 41.66666667%;
	}
	&__col-4 {
		width: 33.33333333%;
	}
	&__col-3 {
		width: 25%;
	}
	&__col-2 {
		width: 16.66666667%;
	}
	&__col-1 {
		width: 8.33333333%;
	}

	@media screen and (max-width: $bp-xl ) {
		&__col-xl-12,
		&__col-xl-11,
		&__col-xl-10,
		&__col-xl-9,
		&__col-xl-8,
		&__col-xl-7,
		&__col-xl-6,
		&__col-xl-5,
		&__col-xl-4,
		&__col-xl-3,
		&__col-xl-2,
		&__col-xl-1 {
			flex: none;
		}
		&__col-xl-12 {
			width: 100%;
		}
		&__col-xl-11 {
			width: 91.66666667%;
		}
		&__col-xl-10 {
			width: 83.33333333%;
		}
		&__col-xl-9 {
			width: 75%;
		}
		&__col-xl-8 {
			width: 66.66666667%;
		}
		&__col-xl-7 {
			width: 58.33333333%;
		}
		&__col-xl-6 {
			width: 50%;
		}
		&__col-xl-5 {
			width: 41.66666667%;
		}
		&__col-xl-4 {
			width: 33.33333333%;
		}
		&__col-xl-3 {
			width: 25%;
		}
		&__col-xl-2 {
			width: 16.66666667%;
		}
		&__col-xl-1 {
			width: 8.33333333%;
		}
	}

	@media screen and (max-width: $bp-lg ) {
		&__col-lg-12,
		&__col-lg-11,
		&__col-lg-10,
		&__col-lg-9,
		&__col-lg-8,
		&__col-lg-7,
		&__col-lg-6,
		&__col-lg-5,
		&__col-lg-4,
		&__col-lg-3,
		&__col-lg-2,
		&__col-lg-1 {
			flex: none;
		}
		&__col-lg-12 {
			width: 100%;
		}
		&__col-lg-11 {
			width: 91.66666667%;
		}
		&__col-lg-10 {
			width: 83.33333333%;
		}
		&__col-lg-9 {
			width: 75%;
		}
		&__col-lg-8 {
			width: 66.66666667%;
		}
		&__col-lg-7 {
			width: 58.33333333%;
		}
		&__col-lg-6 {
			width: 50%;
		}
		&__col-lg-5 {
			width: 41.66666667%;
		}
		&__col-lg-4 {
			width: 33.33333333%;
		}
		&__col-lg-3 {
			width: 25%;
		}
		&__col-lg-2 {
			width: 16.66666667%;
		}
		&__col-lg-1 {
			width: 8.33333333%;
		}
	}

	@media screen and (max-width: $bp-md ) {
		&__col-md-12,
		&__col-md-11,
		&__col-md-10,
		&__col-md-9,
		&__col-md-8,
		&__col-md-7,
		&__col-md-6,
		&__col-md-5,
		&__col-md-4,
		&__col-md-3,
		&__col-md-2,
		&__col-md-1 {
			flex: none;
		}
		&__col-md-12 {
			width: 100%;
		}
		&__col-md-11 {
			width: 91.66666667%;
		}
		&__col-md-10 {
			width: 83.33333333%;
		}
		&__col-md-9 {
			width: 75%;
		}
		&__col-md-8 {
			width: 66.66666667%;
		}
		&__col-md-7 {
			width: 58.33333333%;
		}
		&__col-md-6 {
			width: 50%;
		}
		&__col-md-5 {
			width: 41.66666667%;
		}
		&__col-md-4 {
			width: 33.33333333%;
		}
		&__col-md-3 {
			width: 25%;
		}
		&__col-md-2 {
			width: 16.66666667%;
		}
		&__col-md-1 {
			width: 8.33333333%;
		}
	}
	@media screen and (max-width: $bp-sm ) {
		&__col-sm-12,
		&__col-sm-11,
		&__col-sm-10,
		&__col-sm-9,
		&__col-sm-8,
		&__col-sm-7,
		&__col-sm-6,
		&__col-sm-5,
		&__col-sm-4,
		&__col-sm-3,
		&__col-sm-2,
		&__col-sm-1 {
			flex: none;
		}
		&__col-sm-12 {
			width: 100%;
		}
		&__col-sm-11 {
			width: 91.66666667%;
		}
		&__col-sm-10 {
			width: 83.33333333%;
		}
		&__col-sm-9 {
			width: 75%;
		}
		&__col-sm-8 {
			width: 66.66666667%;
		}
		&__col-sm-7 {
			width: 58.33333333%;
		}
		&__col-sm-6 {
			width: 50%;
		}
		&__col-sm-5 {
			width: 41.66666667%;
		}
		&__col-sm-4 {
			width: 33.33333333%;
		}
		&__col-sm-3 {
			width: 25%;
		}
		&__col-sm-2 {
			width: 16.66666667%;
		}
		&__col-sm-1 {
			width: 8.33333333%;
		}
	}
	@media screen and (max-width: $bp-xs) {
		&__col-xs-12,
		&__col-xs-11,
		&__col-xs-10,
		&__col-xs-9,
		&__col-xs-8,
		&__col-xs-7,
		&__col-xs-6,
		&__col-xs-5,
		&__col-xs-4,
		&__col-xs-3,
		&__col-xs-2,
		&__col-xs-1 {
			flex: none;
		}
		&__col-xs-12 {
			width: 100%;
		}
		&__col-xs-11 {
			width: 91.66666667%;
		}
		&__col-xs-10 {
			width: 83.33333333%;
		}
		&__col-xs-9 {
			width: 75%;
		}
		&__col-xs-8 {
			width: 66.66666667%;
		}
		&__col-xs-7 {
			width: 58.33333333%;
		}
		&__col-xs-6 {
			width: 50%;
		}
		&__col-xs-5 {
			width: 41.66666667%;
		}
		&__col-xs-4 {
			width: 33.33333333%;
		}
		&__col-xs-3 {
			width: 25%;
		}
		&__col-xs-2 {
			width: 16.66666667%;
		}
		&__col-xs-1 {
			width: 8.33333333%;
		}
	}
}

// Visibility
@media screen and (max-width: $bp-xs) {
	.hide-xs {
		display: none !important;
	}
	.show-xs {
		display: block !important;
	}
}
@media screen and (max-width: $bp-sm) {
	.hide-sm {
		display: none !important;
	}
	.show-sm {
		display: block !important;
	}
}
@media screen and (max-width: $bp-md) {
	.hide-md {
		display: none !important;
	}
	.show-md {
		display: block !important;
	}
}
@media screen and (max-width: $bp-lg) {
	.hide-lg {
		display: none !important;
	}
	.show-lg {
		display: block !important;
	}
}
@media screen and (max-width: $bp-xl) {
	.hide-xl {
		display: none !important;
	}
	.show-xl {
		display: block !important;
	}
}

